# PRUEBAS PARA ORPERACIONES CON DATAFRAME

In [2]:
import pandas as pd

In [7]:
dominio = pd.read_csv('domio.csv', sep = ';')
dominio

        Tarea  Maquina  Turno
0       idt_1        0      0
1       idt_1        0      1
2       idt_1        0      2
3       idt_1        0      3
4       idt_1        0      4
...       ...      ...    ...
18172  idt_40        5    214
18173  idt_40        5    215
18174  idt_40        5    216
18175  idt_40        5    217
18176  idt_40        5    218

[18177 rows x 3 columns]

In [14]:
tarea  = dominio.query('Tarea== "idt_40"')
dominio

        Tarea  Maquina  Turno
0       idt_1        0      0
1       idt_1        0      1
2       idt_1        0      2
3       idt_1        0      3
4       idt_1        0      4
...       ...      ...    ...
18172  idt_40        5    214
18173  idt_40        5    215
18174  idt_40        5    216
18175  idt_40        5    217
18176  idt_40        5    218

[18177 rows x 3 columns]

# re

In [ ]:
def buscar