# PRUEBAS PARA ORPERACIONES CON DATAFRAME

In [2]:
import pandas as pd

In [7]:
dominio = pd.read_csv('domio.csv', sep = ';')
dominio

        Tarea  Maquina  Turno
0       idt_1        0      0
1       idt_1        0      1
2       idt_1        0      2
3       idt_1        0      3
4       idt_1        0      4
...       ...      ...    ...
18172  idt_40        5    214
18173  idt_40        5    215
18174  idt_40        5    216
18175  idt_40        5    217
18176  idt_40        5    218

[18177 rows x 3 columns]

In [75]:
tarea  = dominio.query('Tarea== "idt_4"')
ult = dominio.iloc[-1]
ult

Tarea      idt_40
Maquina         5
Turno         218
Name: 18176, dtype: object

Selecionar registros de data frame

In [69]:
tarea.loc[1755]

Tarea      idt_4
Maquina        7
Turno          3
Name: 1755, dtype: object

In [78]:
# tarea.drop(tarea[tarea['Maquina']!=7].index, inplace = True)
indices = tarea.query( "Turno > 2 & Turno <= 6").index.item() #[ tarea.Turno >2 & tarea.Turno<=6  ]#(df.a != -1)  (df.b != -1)
indices
tarea[indices]

KeyError: "None of [Int64Index([1536, 1537, 1538, 1539, 1755, 1756, 1757, 1758], dtype='int64')] are in the [columns]"